<nav class="bg-purple-900 text-white shadow-md" style="font-family: 'Poppins', sans-serif;">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a href="#">
            <img src="../../../../../assets/images/logo (3).jpeg" alt="Mi Logo" class="h-14 w-14 rounded-full"> <!-- Tamaño reducido y redondeado -->
          </a>
        </div>
        
        <!-- Navbar Links -->
        <div class="hidden md:flex space-x-4">
          <a href="/boards" class="hover:text-gray-300">Inicio</a>
  
        </div>
  
        <!-- User Dropdown -->
        <div class="relative">
          <button
            class="flex items-center space-x-2 focus:outline-none"
            (click)="toggleDropdown()"
          >
          <span>{{ fullName }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 9l6 6 6-6"
              />
            </svg>
          </button>
          <div
          *ngIf="isDropdownOpen"
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-10"
        >
          <a
            href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >Perfil</a
          >
          <button
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            (click)="logout()"
          >
            Cerrar sesión
          </button>
        </div>
        
        </div>
  
        <!-- Mobile Menu Button -->
        <div class="md:hidden">
          <button
            class="text-gray-200 hover:text-white focus:outline-none"
            (click)="toggleMobileMenu()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 5h16.5m-16.5 7h16.5m-16.5 7h16.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Mobile Menu -->
    <div
    *ngIf="isMobileMenuOpen"
    class="bg-purple-900 text-white shadow-md py-2 space-y-2 px-4 text-center"
  >
    <a href="/boards" class="block">Inicio</a>
  </div>
  
  </nav>
  